extends ../layouts/layout

block subject

block content
  .quarry
    ul.stack
      li
        ul
          li.addnew
      li
        ul
          li.addnew
          li dependant feature
          li dependant feature
          li Initially Choose Course
      li
        ul
          li.addnew
          li dependant feature
          li dependant feature
          li dependant feature
          li dependant feature
          li Receive New Event Code
      li 
        ul
          li.addnew
          li Sign into App
      li
        ul
          li.addnew
          li dependant feature
          li dependant feature
          li dependant feature
          li Join an event
      li 
        ul
          li.addnew
          li Edit my Info
      li
        ul
          li.addnew
          li dependant feature
          li dependant feature
          li Initially Choose Course
      li
        ul
          li.addnew
          li dependant feature
          li dependant feature
          li dependant feature
          li dependant feature
          li Receive New Event Code
      li 
        ul
          li.addnew
          li Sign into App
      li
        ul
          li.addnew
          li dependant feature
          li dependant feature
          li dependant feature
          li Join an event
      li 
        ul
          li.addnew
          li Edit my Info
      li
        ul
          li.addnew
          li dependant feature
          li dependant feature
          li Initially Choose Course
      li
        ul
          li.addnew
          li dependant feature
          li dependant feature
          li dependant feature
          li dependant feature
          li Receive New Event Code
      li 
        ul
          li.addnew
          li Sign into App
      li
        ul
          li.addnew
          li dependant feature
          li dependant feature
          li dependant feature
          li Join an event
      li 
        ul
          li.addnew
          li Edit my Info
      li
        ul
          li.addnew


