.navbar-fixed-top .navbar-inner
  background url('/images/header_band.png')
  height 40px
  padding 0
  color #ccc
  box-shadow 0 0 10px #000
  .container
    width 90%
  .branding
    color #999
    font-weight bold
  
@media (max-width: 980px)
  .nav
    background #111
    border-radius 0 0 10px 10px
    color #ccc
    padding-bottom 5px