feature_width = 150px

.details
  display none
.world
  background two-stop-position(#fefefe, #888, 100%)
  padding 0
  position fixed
  bottom 0px
  left 0
  right 0
  top 0px
  z-index -1
  overflow auto

ul.quarry
  vertical-align bottom
  -webkit-overflow-scrolling touch
  white-space nowrap
  margin 0
  padding 10px 400px 0 100px
  text-align center
  position absolute
  left 0
  bottom 0
  li.stack
    inline-block()
    ul
      margin 0 auto
      padding 50px 0 0
      list-style-type none
      white-space normal
  li.feature
    transition(all .2s ease-in-out)
    margin 6px 3px
    padding 5px
    width feature_width
    height 75px
    border-radius 3px
    background #2e2e2e
    color #ccc
    text-align left
    &:hover
      background #ccc
      color #333
      cursor pointer
      z-index 999
    &.active
      z-index 999
      box-shadow 0 0 25px -5px #000
      background #ddd
      color #111
      height 250px
      .details
        display block
    &.dependant
      inline-block()
    &.addnew
      background none
      border 2px dashed #bbb
      color #bbb
      position relative
      z-index 1
      cursor pointer
      &:after
        content "+"
        font-size 90px
        position absolute
        top 15px
        right 0
        bottom 0
        left 0
        font-weight bold
        text-align center
    &.removing
      height 0
      padding-top 0
      padding-bottom 0
      border none
    &:last-child
      font-weight bold
    

  .details
    display none
    position fixed
    top 10%
    bottom 10%
    right 30%
    left 30%
    overflow auto
    background rgba(0,0,0,0.9)
    border-radius 10px
    border 1px solid #999
    z-index 999
    box-shadow 0 0 10px #000
    &.open
      //display block
    section
      margin-bottom 10px
    h2
      color #eee
      margin-bottom 10px
    ul
      list-style-type none
      li
        margin 5px 0
        input
          padding 5px
    input
      padding 10px
      height auto
      width 300px
      display block
      margin 0 auto
      border-radius 10px
      box-shadow 0 0 5px #000 inset
      border 1px solid transparent
