feature_width = 200px

.details
  display none
.world
  background two-stop-position(#fefefe, #888, 100%)
  padding 0
  position fixed
  bottom 0px
  left 0
  right 0
  top 50px
  z-index -1
  -webkit-transform-style: preserve-3d;

ul.quarry
  -webkit-transform-style: preserve-3d;
  vertical-align bottom
  overflow auto
  -webkit-overflow-scrolling touch
  white-space nowrap
  margin 0
  padding 100px 400px 0 100px
  position absolute
  bottom 0px
  left 0
  right 0
  max-height 98%
  text-align center
  li.stack
    inline-block()
    -webkit-transform-style preserve-3d
    vertical-align bottom
    bottom 0
    ul
      margin 0 auto
      padding 50px 0 0
      list-style-type none
      white-space normal
  li.feature
    -webkit-transform-style preserve-3d
    margin 6px 3px
    padding 5px
    width feature_width
    height 75px
    border-radius 3px
    background #2e2e2e
    color #ccc
    text-align left
    position relative
    &.feature
      animation pop 250ms ease-out
      &:hover
        background #ccc
        color #333
        cursor pointer
        z-index 999
      &.active
        z-index 999
        box-shadow 0 0 25px -5px #000
        background #ddd
        color #111
        &.removing
          .tools  
            display none
    &.dependant
      inline-block()
      vertical-align bottom
      bottom 0
    &.addnew
      transition(all .5s ease-in-out)
      background none
      border 2px dashed #bbb
      color #bbb
      position relative
      z-index 1
      cursor pointer
      &:after
        transition(all .2s ease-in-out)
        content "+"
        font-size 90px
        position absolute
        top 15px
        right 0
        bottom 0
        left 0
        font-weight bold
        text-align center

    &.removing
      height 0
      padding-top 0
      padding-bottom 0
      border none
      textarea, .tools
        display none
    &:last-child
      font-weight bold
    

.feature_details
  transition(all .3s ease-in-out)
  position absolute
  top 0
  bottom 0
  right 50px
  width 0px
  background url('/images/linen.png')
  box-shadow 0 0 15px #000 inset
  color #eee
  padding 50px 0px
  .inner
    transition(all .5s ease-in-out)
    opacity 0
  &.open
    width 300px
    padding 50px 20px
    .inner
      opacity 1
      transition(all .1s ease-in-out)
  section
    margin-bottom 10px
  h2
    color #eee
    margin-bottom 10px
  input
    padding 10px
    height auto
    width 100%
    display block
    margin 0
    border-radius 10px
    box-shadow 0 0 15px rgba(0,0,0,0.3) inset
    border none
